.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #252E43;
}

.dashboard {
    display: flex;
    align-items: center;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.quadrados {
    padding: 2rem;
}

.quadrados1, .quadrados2 {
    display: flex;
    padding: 0;
    margin: .3rem;
    gap: .3rem;
}

.quadrado {
    width: .7rem;
    height: .7rem;
    background-color: #D9D9D9;
    transition: .3s ease-in-out;
}

.quadrado:hover {
    width: .9rem;
    height: .9rem;
    transition: .3s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
}
