.card {
    width: 20%;
    padding: 15px;
    background-color: #393B43;
    display: flex;
    gap: 2rem;
    border-radius: 15px;
}

.card h1 {
    color: white;   
    font-family: 'Poppins', sans-serif;
}

.card p {
    color: rgba(255, 255, 255, 0.409);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card img {
    width: 50px;
}