.cardStatus {
    background-color: #393B43;
    width: 20%;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.banner {
    background-image: url('/image/amareloB.png');
    width: 100%;
    height: 12vh;
    padding: 10px;
    background-size: cover;
}

.banner h1 {
    margin-top: 25px;
}
